div.titleDivider{
    text-align:center;
    background-color:black;
}

div.story{
    margin-top: 3%;
    border-style: solid;
    border-width: 2px;
    margin-left: 7%;
    float: left;
    width:50%;
}

div.sideStory{
    background-color: gold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 5px;
}
div.side{
    border-style: solid;
    border-width: 2px;
    margin-left: 75%;
    background-color: grey;
    box-shadow: 3px 5px;
}

p.story{
    padding-left: 5px;
}
p.sideStory{
    padding-left: 4px;
}

h3.story{
    padding:5px;
}
h1.title{
    color: gold;
}



a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}
